<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template</title>
</head>
<body>
    <h1>hello <%= hello %></h1>
    <p>好高兴啊啊，我买了高贵的iphone <%= vers %></p>
</body>
</html>
