<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="http://localhost:3002/dopost" method="get">
    name: <input type="text" name="name"/> <br/>
    age: <input type="text" name="age"/> <br/>
    sex: <input type="radio" name="sex" value="男"/> 男
    <input type="radio" name="sex" value="女"/> 女
    <br>
    <label>
      留言:
      <textarea name='message'></textarea>
    </label>
    <br/>
    <input type="submit">
  </form>
</body>
</html>
