html
   head
       title 哈哈
   body
       #box
           ul
               li   我是新闻321
               li   我是新闻1231
               li   我是新闻5645
               li   我是新闻87976
               li   呵呵呵
       #aside

